Chip {
    padding:50px;
}

.chatRoom {
    font-size:20px;
}
#chatForm {
    background: white;
    padding: 0.2rem;
    height: 3.1rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    border-radius: 0px 0px 20px 20px;
    border: 1.5px solid #000;
}