
.div-nav {
  margin-top:3%;
  float:left;
  width:100%;
}
 
.navigation {
  position:-webkit-sticky;
  position:sticky;
  width:50%;
  float:left;
  margin-top:2.2%;
}

nav {
  margin-top:0.5%;
  margin-left:5%;
  margin-right:5%;
  margin-bottom:3%;
  position: fixed;
  width: 100%;
  display: flex;
}


.navlink {
  margin-left:10px;
  margin-right:50px;
}
