
.postDiv {
  margin: auto;
  width: 800px;
}
.postLeftSide {
  margin-right: 50px;
}

.userProfile {
  float: left;
}

.userProfileId {
  font-size: 20px;
  /*font-weight: bold;*/
  margin-left: 15px;
  display: inline-block;
}

.postTitle {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.descriptionTable {
  margin-left: 50px;
}
.descriptionTh {
  width: 70px;
}
.descriptionTd {
  text-align: left;
  padding-left: 20px;
}
 
.postButtons {
  display: flex;
  width: 300px;
  justify-content: space-around;
  margin: auto;
  /*justify-content: space-evenly;*/
}
.postButtonItem {
  flex-basis: 130px;
  /*size: large;*/
  /*background-color: #285943;
  border-color: #285943;
  border-width: 3px;*/
}
/*
.postButtonItem:hover {
  color: #285943;
  background-color: white;
  border-color: #285943;
}
.postButtonItem:focus {
  color: #285943;
  background-color: white;
  border-color: #285943;
}
*/
/*
.postButtonItem:focus {
  color: white;
  background-color: #285943;
  border-color: #285943;
}
*/