Chip {
    padding:50px;
}

#chatForm {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
}

#chatInput {
    display: flex;
    flex-basis: 91.8%;
}