Chip {
    padding:50px;
}

#chatForm {
    background: white;
    padding: 0.2rem;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #000;
}