/* body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
} */

.container {
  position: fixed;
  width: 1000vw;
  height: 100vh;
  z-index: 8;
  background: rgb(248, 248, 248);
}

.page {
  margin-top:5%;
  margin-bottom:5%;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  left: 50%;
  transform: translate(-50%, 0);

  background-color: #ffffff;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 2px solid #919191;
  border-radius: 30px;
}

.titleWrap {
  margin-top: 40px;
  font-size: 26px;
  font-weight: bold;
  text-align:center;
  color: #262626;
}

.contentWrap {
  margin-top: 26px;
  flex: 1;
}

.inputTitle {
  font-size: 12px;
  font-weight: 600;
  color: #262626;
}

.inputWrap {
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  /* background-color: white;
  border: 1px solid #e2e0e0; */
}
/* .inputWrap:focus-within {
  border: 1px solid #285943;
} */

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder {
  color: #dadada;
}

.bottomButton {
  width: 100%;
  height: 48px;
  border: none;
  font-weight: bold;
  border-radius: 64px;
  background-color: #285943;
  color: white;
  margin-bottom: 16px;
  cursor: pointer;
}

.loginButton {
  width: 20%;
  height: 48px;
  border: none;
  font-weight: bold;
  border-radius: 64px;
  background-color: #285943;
  color: white;
  margin-bottom: 5%;
  cursor: pointer;
}

.bottomButton:disabled {
  background-color: #dadada;
  color: white;
}

.errorMessageWrap {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}

.box1 {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

.page {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}


.box {
  text-align:center;
  margin:0auto;
}

.aboutBanner {
  margin-right:10%;
}


@font-face {
  font-family: "NanumSquareBold";
  src: url("../fonts/NanumSquareNeoOTF-dEb.otf")
}


.fontSize {
  font-Size:18px;
  font-family:NanumSquareBold;
}
.timer {
  background: -webkit-linear-gradient(left, skyBlue 50%, #eee 50%);
  /* Foreground color, Background colour */
  border-radius: 100%;
  height: 30px;
  /* Height and width */
  position: relative;
  width: 30px;
  /* Height and width */
  animation-name: time;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: -webkit-linear-gradient(left, skyBlue 100%, #eee 00%);
}
.mask {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;

  animation-name: mask;
  animation-duration: 19.99s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  /* Animation time and number of steps (halved) */
  transform-origin: 100% 50%;
  animation-fill-mode: both;
}
@keyframes time {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes mask {
  0% {
    background: #eee;
    /* Background colour */
    -webkit-transform: rotate(0deg);
  }
  50% {
    background: #eee;
    /* Background colour */
    -webkit-transform: rotate(-180deg);
  }
  50.01% {
    background: skyBlue;
    /* Foreground colour */
    -webkit-transform: rotate(0deg);
  }
  100% {
    background: skyBlue;
    /* Foreground colour */
    -webkit-transform: rotate(-180deg);
  }
}

.bomb {
  animation-name: bomb;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  z-index: 8;

  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  /* Animation time and number of steps (halved) */
  /* transform-origin: 100% 50%; */
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bomb {
  0% {
    background-image: url("../bomb_animation/bomb2_1.jpg");
  }
  10% {
    background-image: url("../bomb_animation/bomb2_1.jpg");
  }
  20% {
    background-image: url("../bomb_animation/bomb2_2.jpg");
  }
  30% {
    background-image: url("../bomb_animation/bomb2_3.jpg");
  }
  40% {
    background-image: url("../bomb_animation/bomb2_4.jpg");
  }
  50% {
    background-image: url("../bomb_animation/bomb2_5.jpg");
  }
  60% {
    background-image: url("../bomb_animation/bomb2_6.jpg");
  }
  70% {
    background-image: url("../bomb_animation/bomb2_7.jpg");
  }
  80% {
    background-image: url("../bomb_animation/bomb2_8.jpg");
  }
  90% {
    background-image: url("../bomb_animation/bomb2_9.jpg");
  }
  100% {
    background-image: gray;
  }
}

.page_bomb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
