
.div-nav {
  margin-top:4%;
  margin-left:2%;
  float:left;
  width:50%;
}
 
.navigation {
  position:-webkit-sticky;
  position:sticky;
}

nav {
  margin-top:0.5%;
  margin-left:5%;
  margin-right:5%;
  margin-bottom:3%;
  position: fixed;
  width: 100%;
  display: flex;
}

.navlink {
  margin-right:10%;
  margin-bottom:5%;
}

/*
nav > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/