.postUploadBtn {
    background-color: #285943;
    border-color: #285943;
    border-width: 3px;
  }
  .postUploadBtn:hover {
    color: #285943;
    background-color: white;
    border-color: #285943;
  }
  .postUploadBtn:focus {
    color: #285943;
    background-color: white;
    border-color: #285943;
  }