.search {
    margin:2%;
    margin-left:22%;
  }

.icon {
  width: 30px;
  height: 30px;
    margin-left:15px;
    margin-right:15px;
}

.login {
  margin-top:3%;
}

.loginBtn {
  margin-right:1%;
  margin-left:25%;
}