.search {
    margin-top:2.3%;
    display:fixed;
    margin-left:15%;
  }

  .goToLogin {
    float:right;
    margin-right:8%;
  }

.icon {
  width: 30px;
  height: 30px;
  margin-left:15px;
  margin-right:15px;

}
