.transactionCompletedBtn {
    float: right;
    margin-top: 3px;
    background-color: #285943;
    border: none;
}
.transactionCompletedBtn:hover {
    background-color: #285943;
    border: none;
}
.transactionCompletedBtn:focus {
    background-color: #285943;
    border: none;
}

.modalTitle {
    font-size: 20px;
    font-weight: bold;
}
.userName {
    color: #285943;
}

.emojiRadioGroup {
    /*width: 100%;*/
    /*object-fit: cover;*/
    /*width: inherit;*/
    margin-left: 40px;
    /*justify-content: center;*/
}
.emojiRadioBtn {
    /*opacity: 0;*/
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
    float: left;
}
.emojiLabel {
    padding: 5px 15px;
    float: left;
}

.modalBtn1 {
    flex-basis: 80px;
    color: #285943;
    background-color: white;
    border-color: #285943;
    
}
.modalBtn1:hover {
    color: #285943;
    background-color: white;
    border-color: #285943;
}
.modalBtn1:focus {
    color: #285943;
    background-color: white;
    border-color: #285943;
}
.modalBtn2 {
    flex-basis: 80px;
    background-color: #285943;
    border: none;
}
.modalBtn2:hover {
    color: white;
    background-color: #285943;
}
.modalBtn2:focus {
    color: white;
    background-color: #285943;
}